.landing_page {
  padding: 10px;
}

.filter_header {
  /* background-color: #191536b4; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.genric_dropdown {
  width: 150px;
  height: 30px;
  border: 1px solid black;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  .placeholder {
    opacity: 0.5;
  }
  .dropdown_options {
    background-color: #8b8b8b;
    width: 150px;
    height: 100px;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    z-index: 100;
    overflow: auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    .option_value {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      &:not(:last-child) {
        border-bottom: 1px solid #383232;
      }
      padding: 5px;
    }
  }
}

.jobs_cards_landing_page {
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 50px 0px;
  padding: 10px 0px;

  /* tablet screen */
  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  /* mobile screen */
  @media only screen and (max-width: 448px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.loading {
  margin: 50px auto;
  text-align: center;
}

.card_container {
  margin: 0 auto;
  max-width: 320px;
  border-radius: 10px;
  padding: 10px 10px 50px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px !important;
  position: relative;
  width: 90%;
  margin-bottom: 30px;

  .card_header {
    display: flex;
    gap: 20px;

    .company_logo {
      width: 30px;
      height: 30px;
    }

    .info_container {
      h3 {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 3px;
        margin-top: 0px;
        color: #8b8b8b;
      }
      h2 {
        font-size: 14px;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.87);
        text-transform: capitalize;
        margin-bottom: 3px;
      }
    }
    .location {
      font-size: 11px;
      font-weight: 500;
      margin-top: 5px;
      color: rgba(0, 0, 0, 0.87);
      text-transform: capitalize;
    }
  }
  .salary_estimate {
    font-size: 14px !important;
    font-weight: 500;
    margin: 8px 0 !important;
  }

  .about_company {
    h3 {
      color: rgba(0, 0, 0, 0.87);
      font-size: 16px;
      font-weight: 700;
      margin: 0px;
    }
    p {
      font-size: 14px;
      margin-top: 5px;
    }
  }

  .experience {
    h3 {
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 3px;
      color: #8b8b8b;
    }
    p {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  a {
    text-decoration: none;
  }

  .apply_button {
    width: 93%;
    background-color: rgb(85, 239, 196);
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 8px 0px;
    text-align: center;
    border-radius: 8px;
    margin: 5px 0;
    position: absolute;
    bottom: 5px;
  }
}
